.live-name-v {
    display: flex;
    // width: 100%;
    // color: #fff5d9;

}



.live-name-v__timer{
    height: 100%;
    margin-top: 5%;
    z-index: 10;
    color: yellow;
    font-size: 1rem;
    margin-left: 2%;
    top: 10%;
}

.live-name-v__team {
    flex-grow: 10;
    display: flex;
    align-items: center;
    color: #fff5d9;
    margin-left: 10px;
    width: 0%;
    >div{
        width: 95%;
        white-space: nowrap;
        overflow-x: hidden;
    }
  
}
.live-name-v__result {
    width: 150px;
    flex-grow: 1;
    color: #fff5d9;
}



// .live-name-v__home
// {
//     // border-bottom: 1px solid #a16440;

// }