.live-name-v {
    display: flex;
    width: 100%;
    color: #fff5d9;
    background-color: #5c3924;
}
.live-name-v__team {
    flex-grow: 10;
    display: flex;
    align-items: center;
    color: #fff5d9;

}
.live-name-v__result {
    width: 150px;
    flex-grow: 1;
    color: #fff5d9;


    
}