.column
{
    display: flex;
    flex-direction: row;
    width: 100%;
    // border-bottom: 1px solid grey;
 
    &.sport2
    {
        border-bottom: 1px solid grey;
    }
    &.sport6
    {
        border-bottom: 1px solid #e68e5b;
    }
    &.sport20
    {
      border-bottom: 1px solid #426089;

    }
    &.sport5
    {
      border-bottom: 1px solid #426089;

    }

}
.column >div{
    flex: 1;
}
.code
{
    width: 3.5%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: #000;
    color: white;
    font-size: 1.1rem;
     border: 1px solid #C0C0C0;
     border-left: 1.5px solid #C0C0C0;

    &.sport20{
        border: 1px solid #426089;  
        background-color: #262f34;
        border-bottom:none;
    //     border-top:   1px solid #426089;
    //     border-left: 1.5px solid #426089;
    //   border-right: 1.5px solid #426089; 

}

&.sport25
{
    border: 1px solid #e5a56a;
    background-color: #262f34;
border-bottom: none;

}
&.sport5{
    border: 1px solid #426089;  
    background-color: #262f34;
    border-bottom:none;
//     border-top:   1px solid #426089;
//     border-left: 1.5px solid #426089;
//   border-right: 1.5px solid #426089; 

}
    &.sport6{
        border: 1px solid #e68e5b;  
        background-color: #8b4513;
        border-bottom: none;
        
    }
  
    &.sport3{
        border: 1px solid #e68e5b;  
        background-color: #8b4513;
        border-bottom: none;
    }
       &.sport2{
           background-color: #000;
           border-bottom: none;
           border: 1px solid #57af46;
        //    border-left: 1.5px solid #57af46;
        //    border-bottom: 1px solid #406a20;     
       }
   
   

}

.headerImage
{
    width: 22.999%;
    background-position: left top;
    background-size: 100%;
    background-repeat: no-repeat;
    max-height: 100%;
    display: flex;
    flex-wrap: nowrap;
    
    &.sport2
    {
        background-color: #000;
        color: #fff;
    }
    &.sport5
    {
        background-color: #273547;
        color: #fff;
    }

    &.sport3
    {
        background-color: #8b4513;
        color: #fff;
    }
    &.sport6
    {
       background-color:  #8b4513;
       color: white;
    }
    &.sport20
    {
       background-color:  #262f34;
       color: #ffff;
       ;
    }
    &.sport25
    {
       background-color:  #262f34;
       color: #fff;
    }

}

.header-Name
{
    width: 80%;
    padding: 4px 4px 4px 4px;
}

p 
{
    font-size: 1.3rem;
    //  margin-left: 20%;
     text-align:center;
}

.header-image{
    background-position: left top;
    background-size: 100%;
    background-repeat: no-repeat;
    max-height: 100%;
    background-image:url("../Slike/win-cover.jpg");
    width: 22.999%;

}


