.column
{
    display: flex;
    flex-direction: row;
    width: 100vw;
    // border-bottom: 1px solid grey;
    &.sport3
    {
        border-top: 1px solid #e68e5b; 
        border-bottom: 1px solid #e68e5b;
        margin-top: 0.4vw;

    }
    &.sport2
    {
        border-bottom: 1px solid grey;
    }
    &.sport6
    {
        border-top: 1px solid #e68e5b; 
        border-bottom: 1px solid #e68e5b;
        margin-top: 0.4vw;

    }
    &.sport20
    {

        border-top:  1px solid #426089;
      border-bottom: 1px solid #426089;
      margin-top: 0.4vw;


    }
    &.sport5
    {
        border-top:  1px solid #426089;;
      border-bottom: 1px solid #426089;
      margin-top: 0.4vw;


    }

    &.sport18
    {
        border-top: 1px solid #7c8dbf;;
        border-bottom: 1px solid #7c8dbf;
        margin-top: 0.4vw;

    }

    &.sport25
    {
        margin-top: 0.4vw;
        border-top: 1px solid #e5a56a;
    }
}
// .column >div{
//     // flex: 1;

//     width: 18.25%;
// }
.column-sport
{
    width: 18.25vw;
}
.code
{
    width: 3.5vw;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: #000;
    color: white;
    font-size: 1.1vw;
     border: 1px solid #C0C0C0;
     border-left: 1.5px solid #C0C0C0;

    &.sport20{
        border: 1px solid #7c8dbf;  
        background-color: #262f34;
        border-bottom:none;
    //     border-top:   1px solid #426089;
    //     border-left: 1.5px solid #426089;
    //   border-right: 1.5px solid #426089; 

}

&.sport18
{
    border: 1px solid #7c8dbf;
    background-color: #262f34;
border-bottom: none;

}


&.sport25
{
    border: 1px solid #e5a56a;
    background-color: #262f34;
border-bottom: none;

}
&.sport5{
    border: 1px solid #426089;  
    background-color: #262f34;
    border-bottom:none;
//     border-top:   1px solid #426089;
//     border-left: 1.5px solid #426089;
//   border-right: 1.5px solid #426089; 

}
    &.sport6{
        border: 1px solid #e68e5b;  
        background-color: #8b4513;
        border-bottom: none;
        
    }
  
    &.sport3{
        border: 1px solid #e68e5b;  
        background-color: #8b4513;
        border-bottom: none;
    }
       &.sport2{
           background-color: #000;
           border-bottom: none;
           border: 1px solid #57af46;
        //    border-left: 1.5px solid #57af46;
        //    border-bottom: 1px solid #406a20;     
       }
   
   

}

.headerImage
{
    width: 23.5%;
    background-position: left top;
    background-size: 100%;
    background-repeat: no-repeat;
    max-height: 100%;
    display: flex;
    flex-wrap: nowrap;
    
    &.sport18
    {
        background-color: #2f3443;
        color:#fff;

    }

    &.sport2
    {
        background-color: #000;
        color: #fff;
    }
    &.sport5
    {
        background-color: #273547;
        color: #fff;
    }

    &.sport3
    {
        background-color: #8b4513;
        color: #fff;
    }
    &.sport6
    {
       background-color:  #8b4513;
       color: white;
    }
    &.sport20
    {
       background-color:  #262f34;
       color: #ffff;
       ;
    }
    &.sport25
    {
       background-color:  #262f34;
       color: #fff;
    }

}


.header-Name
{
    padding: 4px 4px 4px 4px;
    font-size: 1.4vw;
}

p 
{
    font-size: 1.3rem;
    //  margin-left: 20%;
     text-align:center;
}

.header-image{
    background-position: left top;
    background-size: 100%;
    background-repeat: no-repeat;
    max-height: 100%;
    background-image:url("../Slike/win-cover.jpg");
    width: 22.999%;

}

