@import "../../../../../styles/colors";

.live-result-period {
   font-size: 1.1vw;
  text-align: center;
  position: relative;


  &.wmain {
    // font-weight: bold;
    // display: none;
    &.sport6{
      display: none;

    }
    &.sport18
    {
      color: yellow;
      padding: 0px 0px 0px 3px;

    }
    
    &.sport20
    {
      background-color: #577aa8;
       font-size:0.98vw;
       padding: 0px 0px 0px 3px;

    }
    &.sport5
    {
      // background-color: #577aa8;
    font-size: 0.98vw;
    background-color: #577aa8;
    padding: 0px 0px 0px 3px;
    right: 12%;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    
  
  }
    &.sport25
    {
      background-color: #89582d;
     font-size: 0.98vw;
     padding: 0px 0px 0px 3px;
     right: 10px;

    }

    &.sport18
    {
      background-color: #2f3443;
      font-size: 0.98vw;
      padding: 0px 0px 0px 3px;
      right: 10px;

   
    }

    &.sport3
    {
      background-color: #fba75f;
      font-size:0.98vw;
      color: #000;
      padding: 0px 0px 0px 3px;
     width: 10%;

    }
  }
  &.size20 {
    width: 20%;
   
    &.sport3
    {
      width: 30%;
      padding: 0px 0px 0px 3px;
    }
    &.sport25
    {
      padding: 0px 0px 0px 3px;
    }
  }
  &.size16 {
    width: 16px;
  }
  &.size12 {
    width: 12px;
  }
 
  &::after{
    content: "";
    display: block;
    position: absolute;
    height: 28%;
    top: 1vw;
    right: 0;
    width: 0.10vw;
    // boja crtica se postavlja na osnovu sporta, a #a166400 je default ako nema nijedne boje
    background-color: var(--bojaCrtica, #a16440);
      
  }
&.sport18
{
  --bojaCrtica:#7c8dbf
}

&.sport5
{
  --bojaCrtica: #426089;
}

 &.sport20{
  --bojaCrtica : #426089;
}

 
   &.sport25{
    --bojaCrtica: #606060;
   }


  // &.sport3::after{ join kasnije
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   height: 28%;
  //   top: 37%;
  //   right: 0;
  //   width: 2.3px;
  //   background-color:red;
  // }
}
.column
{
  // background-color: #a16440;
}
.live-result-period__val {
  margin: 1px;
  padding: 2px 0;
  margin-left: -1px;
  font-size: 1vw;
  


  &.wlost &.wcurrent{
  border-bottom: 1px solid black;    
 
  }

  .wgrass &.wcurrent {
    color: $sports-global-grass;
  }
  .wparquette &.wcurrent {
    color: $sports-global-parquette;
  }
  .wclay &.wcurrent {
    color: $sports-global-clay;
  }
  .wcool &.wcurrent {
    color: $sports-global-cool;
  }
  .wartifical &.wcurrent {
    color: $sports-global-artifical;
  }
  .wdefault &.wcurrent {
    color: $sports-global-default;
  }


  .wgrass .wmain & {
    background-color: $sports-global-grass;
  }
  .wparquette .wmain & {
    background-color: $sports-global-parquette;
  }
  .wclay .wmain & {
    background-color: $sports-global-clay;
  }
  .wcool .wmain & {
    background-color: $sports-global-cool;
  }
  .wartifical .wmain & {
    background-color: $sports-global-artifical;
  }
  .wdefault .wmain & {
    background-color: $sports-global-default;
  }

  .wgrass .wstandard & {
    background-color: rgba($sports-global-grass, 0.16);
  }
  .wparquette .wstandard & {
    background-color: rgba($sports-global-parquette, 0.16);
  }
  .wclay .wstandard & {
    background-color: rgba($sports-global-clay, 0.16);
  }
  .wcool .wstandard & {
    background-color: rgba($sports-global-cool, 0.16);
  }
  .wartifical .wstandard & {
    background-color: rgba($sports-global-artifical, 0.16);
  }
  .wdefault .wstandard & {
    background-color: rgba($sports-global-default, 0.16);
  }
  &.yellow
  {
    color: yellow;
  }
}