.Code
{
    background-color: #000;
    color: #fff;
    width: 13.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #57af46;
    border-right: 1px solid #57af46;
    border-bottom: 1px 1px solid #57af46;


    // &>*{
    //     width: 100%;
    //     text-align: center;
    //     flex: 1;

    // }
}

.Codetxt
{
    border-bottom: 1px solid #57af46;
    width: 100%;
    text-align: center;
    flex: 1;
}