
.live-match__status
{
    display: none;
    border-right: 1px solid #daa520;
    border-bottom: 1px solid #406a23;
}



.live-match__hov{
    display: flex;
}

.live-match__hov .live-match__name::after
{
    // position: absolute;
    // content: "";
    // display: flex;
    // left:2% ;
    // right: 0;
    // top: 49%;
    // height: 0;
    // // width: 100%;
    border-top: 2px solid white;
    
}
.live-match__hov.sport20  .live-match__name::after
 {

    position: absolute;
    content: "";
    display: flex;
    left:2% ;
    right: 0;
    top: 49%;
    height: 0;
    width: 92.6%;
     border-top: 2px solid #426089;

} 
.live-match__hov.sport25  .live-match__name::after
 {

    position: absolute;
    content: "";
    display: flex;
    left:2% ;
    right: 0;
    top: 49%;
    height: 0;
    // width: 100%;
     border-top: 2px solid #606060;

} 
// .live-match__hov.sport5  .live-match__name::after
//  {

//     position: absolute;
//     content: "";
//     display: flex;
//     left:2% ;
//     right: 0;
//     top: 49%;
//     height: 0;
//     // width: 100%;
//      border-top: 2px solid #426089;

// } 
.live-match__hov.sport5  .live-match__name::after
 {

    position: absolute;
    content: "";
    display: flex;
    left:2% ;
    right: 0;
    top: 48%;
    height: 0;
     width: 84%;
     border-top: 2px solid #426089;

} 

 .live-match__hov.sport6 .live-match__name::after
 {
     position: absolute;
     content: "";
     display: flex;
     left:2% ;
     right: 0;
     top: 49%;
     height: 0;
      width: 99%;
      border-top: 2px solid #a16440;
 }

 .live-match__hov.sport3  .live-match__name::after
 {

    position: absolute;
    content: "";
    display: flex;
    left:2% ;
    right: 0;
    top: 49%;
    height: 0;
     width: 93%;
     border-top: 2px solid #a16440;
    // border: none;
} 

// .live-match__hov.sport3 .live-match__name::after
// {
//     position: absolute;
//     content: "";
//     display: flex;
//     left:2% ;
//     right: 0;
//     top: 35%;
//     height: 0;
//     // width: 100%;
//     // border-top: 2px solid #a16440;
//     border-top: none;
// }
.live-match__name.sport3 .live-name-v__result
{
    width: 25.897%;
    flex-grow: 1;
    color: #fff5d9;
}

.live-match__name.sport3 .live-name-v__team
{
//     width: 20%;
//     padding-top: 7px;
//     text-align: left;
//    overflow-x: hidden;
//     white-space: nowrap;
  
}

.live-match__name.sport20 .live-name-v__team
{
    width: 40%;
    padding-top: 7px;
    text-align: left;

}
.live-match__name.sport6 .live-name-v__team
{
    width: 1%;
    padding-top: 5px;
    text-align: left;

}
.live-match__name.sport25 .live-name-v__team
{
    width: 60%;
    padding-top: 7px;
    text-align: left;

}

.live-match__name.sport5 .live-name-v__team
{
    // padding-top: 4px;
    text-align: left;
    padding-top: 5px;
    width: 70%;

}




.live-match__hov:nth-child(2n)
{
    background-color: #000;
    border-right: 1px solid #daa520;
     border-bottom: 1px solid #C0C0C0;
     color:#fff5d9;
    

    &.sport25
    {
        width: 100%;
        text-align: center;
        flex: 1 1;
        background-color: #5c422a;
        border-bottom: 1px solid #e5a56a;
        border-left: 1px solid #e5a56a;
        border-right: 1px solid #e5a56a;
        // border-top: 1px solid #426089;
    }
    &.sport5
    {
        width: 100%;
        text-align: center;
        flex: 1 1;
        background-color: #1a2637;
        border-bottom: 1px solid #426089;
        border-left: 1px solid #426089;
        border-right: 1px solid #426089;
        // border-top: 1px solid #426089;
    }
    &.sport20
    {
        width: 100%;
        text-align: center;
        flex: 1 1;
        background-color: #1a2637;
        border-bottom: 1px solid #426089;
        border-left: 1px solid #426089;
        border-right: 1px solid #426089;
        // border-top: 1px solid #426089;
    }
    &.sport6{
        background-color: #5c3924;
    border-bottom: 2px solid #e68e5b;
    border-top: 1px solid #e68e5b;
    }
    
     &.sport3{
         background-color: #5c3924;
     border-bottom: 2px solid #e68e5b;
     border-top: 1px solid #e68e5b;
     }
     &.sport2
     {
         background-color: #1a2a0e;
         border-right: 1px solid #daa520;
         border-bottom: 1px solid #406a23;
     }
}
.live-match__hov:nth-child(2n+1)
{
    background-color: #808080;
    border-right: 1px solid #daa520;
    border-bottom: 1px solid #C0C0C0;
    color: #000;
    &.sport25
    {
        width: 100%;
        text-align: center;
        flex: 1 1;
        background-color: #956030;

        border-bottom: 1px solid #e5a56a;
        border-left: 1px solid #e5a56a;
        border-right: 1px solid #e5a56a;
        // border-top: 1px solid #426089;
    }
 

    &.sport20
    {
        background-color: #283a52;
        border-bottom: 1px solid #426089;
    }
    &.sport5
    {
        background-color: #283a52;
        border-bottom: 1px solid #426089;
    }
    &.sport6
    {
        background-color: #8a5537;
        border-right: 1px solid #daa520;
        border-bottom: 2px solid #e68e5b;
        border-top: 1px solid #e68e5b;
    }
     &.sport3
     {
         background-color: #8a5537;
         border-right: 1px solid #daa520;
         border-bottom: 2px solid #e68e5b;
         border-top: 1px solid #e68e5b;
     }
     &.sport2
     {
         background-color: #264015;
         border-right: 1px solid #daa520;
         border-bottom: 1px solid #406a23;
     }


}

.live-match
{
    display: flex;
    width: 22.9%;
    border-right: 1px solid #daa520;
   &.gool .live-match__name.sport2{
       animation: pulse-red 5s
   }
}

@keyframes pulse-red{
    0%,40%, 80%{
        background-color: rgba(200,50,50,0.5);
    }
    20%,60%,100%{
        background-color: rgba(200,50,50,1);
    }
}

.live-match__name{
    flex: 1;
    position: relative;
    width: 1px;
}

.live-match-timer
{
       background-color: red;    


}

