.Bet{
    // flex: 1;
    text-align: center;
    width: 22%;
    /* margin: 0 0.6%; */
    margin: 0 auto;
    float: left;
    display: table;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    padding: 1px 1px 1px 0;
    &.sport2{
        width: 33%;
        // border-bottom: 1px solid #406a23;

    }
}
// .live-match__hov:nth-child(2n) .Bet {
//           background-color: #404040;
        
//      }
.Bet.hide{
    color: transparent;
    color: none;
}


 .Bet.yellow{
    //  background-color: red;
     color: grey;
 }


 .Bet.ico-tri-down{
    color: red;
    animation: color 2s both;
 
 .Bet.ico-tri-up{
     color: green;
     animation: color 2s both;
 }

 @keyframes bgc {
     0%, 99%{
         background-color: var(color);
     }
     100%{
         // background-color: #fff;
     }
    }
 }