// .Bet{
//     text-align: center;
//     width: 22%;
//     margin: 0 auto;
//     float: left;
//     display: table;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;
//     background-color: #fff;
//     padding: 1px 1px 1px 0;
//     &.sport2{
//         width: 33%;
//     }
// }
.Bet{
    text-align: center;
    width: 33.33%;
    display: flex;

    & .bet-odd-value{
        background-color: #fff;
        margin-left: 1px;
        text-align: right;
        font-size: 1.1vw;
        padding: 2px;
        width: 100%;
    }

    .four-items &{
        width: 25%;
    }
    .five-items &{
        width: 20%;
    }
}




//  .live-match__hov:nth-child(2n+1) .Bet.hide .bet-odd-value {
//            background-color: #404040;
//  }      
      
.Bet.hide {

    color: transparent;
    
}




//  .Bet.yellow{
//     //  background-color: red;
//      color: grey;
//  }


 .Bet.ico-tri-down{
    // color: red;
    // animation: color 2s both;
    &::before {
        padding: 2px 5px 2px 2px;
        position: absolute;
      }
 .Bet.ico-tri-up{
    //  color: green;
    //  animation: color 2s both;
    &::before {
        padding: 2px 5px 2px 2px;
        position: absolute;

      }
 }

 @keyframes bgc {
     0%, 99%{
         background-color: var(color);
     }
     100%{
         // background-color: #fff;
     }
    }
 }