.column1
{
    flex: 1;    
    display: flex;
    border-left: 1px solid #daa520;
    /*border-right: 1px solid #daa520;*/
    // border-bottom: 2px solid #888;


    &.sport18
    {
        border-bottom: 1px solid #0d1d51;
    } 

   &.sport25
   {
       border-bottom: 1px solid grey;
   } 
   &.sport6
   {
    border-bottom: 1px solid #e68e5b;

   }

   &.sport3
   {
    border-bottom: 1px solid #e68e5b;

   }

   &.sport5
   {
       border-bottom: 1px solid #426089;
   }
   &.sport20
   {
      border-bottom: 1px solid #426089
   }
   &.sport2
   {
    border-bottom: 1px solid #406a23;

   }
      
}

.word-header{
    text-align: center;
    width: 100%;
    word-break: keep-all;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
    background-color: #ffbf00;

}
.position
  {
        width: 10%;
         text-align: center;
         background-color: black;
         color: #fff;
 }