@import '../../../../styles/colors';

.live-result-h__red{
    margin: 0 4px;
    width: 16%;
    height: 16%;
    // font-size: 1.6rem;
}
.live-result-h__val{
    margin: 0 4px;
    width: 15%;
    padding: 2px 0;
    text-align: center;
     font-size: 0.90vw;
    color: #e5bf00;

    .wgrass &{
        background-color: $sports-global-grass;
    }
}

.live-result-h__dot{
    padding: 1px;
}