.BetsRow{
    // flex: 1;
    // display: flex;
    // flex-wrap: nowrap;
    // width: 100%;
    // padding-top:4px;

    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;

    // border-bottom: 1px solid grey;
    &.sport18
    {
        border-bottom:1px solid #7c8dbf;
        padding: 4px  4px 3px 3px;

    }
    &.sport25
    {
        border-bottom:1px solid #e5a56a;
        padding: 4px  4px 3px 3px;

    }

    &.sport20
    {
      border-bottom: 1px solid #426089;
      padding: 4px  4px 3px 3px;

    }
    &.sport5
    {
        border-bottom: 1px solid #426089;
        padding: 4px 4px 2px 3px

    }

    &.sport6
    {
        border-bottom: 1px solid #e68E5B;
        padding: 4px 4px 2px 3px

    }
     &.sport2{
  
         border-bottom: 1px solid #406a23;
         padding: 4px  4px 3px 3px;
        }
    &.sport3
    {
        border-bottom: 1px solid #e68E5B;
        // border-bottom: none;
        // border-top: 1px solid #e68E5B;
        padding: 4px 4px 2px 3px


    }
}

.live-match__hov:nth-child(2n) .BetsRow .bet-odd-value{
      
        background-color: #404040;  
    //    color: #fff5d9;


  }

.BetSpec
{
    // text-align: center;
    // width: 30%;
    // height: 4%;
    // margin: 0 auto;
    // float: left;
    // display: table;
    // justify-content: center;
    // align-items: center;
    // overflow: hidden;
    // padding: 1px 1px 1px 0;
    // background-color:#e0f900 ;
    // font-size: 0.9111rem;

    text-align: center;
    white-space: nowrap;
    align-items: center;
    font-size: 0.9111rem;
    width: 33.33%;
    padding-right: 2px;
    overflow: hidden;


    .four-items &{
        width: 25%;
    }
    .five-items &{
        width: 20%;
    }
    
    & .bet-spec-value{
        margin: 1px;
    background-color: #e0f900;
    // padding: 0 2px;
    color: #000;
    padding-right: 2px;
    // white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;



}
}

