.BetsRow{
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-top:4px;
    &.sport6
    {
        border-bottom: 1px solid #e68E5B;
        padding: 2.5px 4px 1px 3px;


    }
    &.sport2{
        
        border-bottom: 1px solid #406a23;
        padding: 2.5px 4px 1px 3px;
    }
    &.sport3
    {
        border-bottom: 1px solid #e68E5B;
        border-bottom: none;
        border-top: 1px solid #e68E5B;
        padding: 2.5px 4px 1px 3px;


    }
}

 .live-match__hov:nth-child(2n) .BetsRow .Bet{
      background-color: #404040;  
      color: #fff5d9;
 }

.BetSpec
{
    text-align: center;
    width: 30%;
    height: 4%;
    /* margin: 0 0.6%; */
    margin: 0 auto;
    float: left;
    display: table;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1px 1px 1px 0;
    background-color:#e0f900 ;
    font-size: 0.92rem;


}

