.BetsRow{
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    // border-right: 1px solid #daa520;
    /*border-right: 1px solid #daa520;*/
    padding-top:4px;

}

 .live-match__hov:nth-child(2n) .BetsRow .Bet{
      background-color: #404040;  
      color: #fff;
 }

.BetSpec
{
    text-align: center;
    width: 30%;
    height: 4%;
    /* margin: 0 0.6%; */
    margin: 0 auto;
    float: left;
    display: table;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1px 1px 1px 0;
    background-color:#e0f900 ;
    font-size: 0.9375rem;


}

