 .live-result-game {
     width: 16px;
     display: flex;
     flex-direction: column;
     margin-right: 14px;
    }
   .live-result-game__item {
     padding: 2px 0;
     font-size: 1.125rem;
     text-align: center;
     color: #ffee79;

   }
  